/* For Desktop */
@media screen and (min-width: 1024px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* For Tablet */
@media screen and (max-width: 1023px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For Phone */
@media screen and (max-width: 767px) {
  .image-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Common Styles */
.favorite-photos {
  padding: 25px;
}

.sticky-container {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 15px;
  background-color: white; /* Ensure the sticky container has a background */
  text-align: center;
}

.image-grid {
  display: grid;
  gap: 75px;
  border-radius: 25px;
}

.image-card {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.image-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.remove-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff4b4b;
  color: white;
  border: none;
  border-radius: 0 0 15px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #ff1c1c;
}

.back {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back:hover {
  background-color: #0056b3;
}
